extends layout
block head
  title Sample FE Project
block body
  div.container
    div.row
      div.col-sm-12
        h1.
          Sample Frontend Project
        h2.
          A Python Interpreter
        p.
          This is a simple online Python interpreter.
        p.
          Put your Python code below, then click "Eval it!" button to evaluate it.
        app
